*{
    margin: 0;        //النجمة رمز ل جميع عناصر اتش تس ام ال
}
html {
  scroll-behavior: smooth;
}

header{
    width: 100%;
    border:0px solid #3d4a59;
    margin: 0px 0px 20px 0px ;
    padding: 20px 20px 20px 20px ;
    background-color:#445356;
    color:rgb(255, 255, 255);
    border-radius: 0px 0px 50px 50px;
font-family: cairo;
}
#khahled {
  box-shadow: 5px 5px 25px #7a818a;
  border-radius: 50%;
  border-bottom: 2px solid #ff8a00;
    border-top: 2px solid #ff8a00;
    border-left: 2px solid #e52e71;
    border-right: 2px solid #e52e71;}

section{
    width: 1000px;
    border:5px solid rgb(106, 157, 155);
    border-radius: 20px 20px 20px 20px;
    margin-left: 70px;
    margin-bottom: 40px;
    margin-top: 60px;
    padding: 20px 20px 20px 20px ;
    font-family: Amiri;
  box-shadow:5px 5px 25px rgb(162, 174, 174);
}
footer{
    border:5px solid  #3d4a59;
    margin: 70px 0px 20px 0px ;
    padding: 20px 20px 20px 20px ;
    width: 100%;
    font-family: Poppins;
      background-color:#445356;
    color:rgb(255, 255, 255);
    
font-family: cairo;
}
article{
    text-align: center;
    border: 3px solid #893f69;
     margin: 0px 0px 5px 0px ;
     padding-left: 5px;
     
}
h1,h4{
    
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
}
.parent{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 15px;
    
    /* justify-content:space-between; */
}
.hi{
  display: block;
  font-size: small;
  list-style: none;
  text-align: center;
}
.ex{
  font-size:large;
  list-style:inside;
}
.papa{
    display: flex;
    justify-content:space-around;
}
.sora{
    display: flex;
    justify-content:space-around;
    
}h5{
 font-size: 16px;
 color: rgb(5, 38, 91);
 text-align: center;
   margin-left: auto;
   /* margin-right: auto; */
   width: 600px;
   font-family: Amiri;
 
}
.o{
   font-size: 18px;
 color: rgb(91, 5, 55);
 text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 600px;

   
}
.parent li a{
    color:#fff;
    
}
.photo{
     display: flex;
    justify-content:space-around;
    list-style: none;
}
/* الشاشات الصغيرة (الموبايل) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
    padding: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
/* موبايلات */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}

/* تابلت */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* شاشات كبيرة */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}


